<div class="big-box">
  <!--buscador de los cursos-->
  <input class="text-box">
  <div>
    <div class="title"><p>Weekly Progress</p></div>
    <div>
      <!--seccion de informacion de los curos-->
      <table>
        <tr>
          <td><div class=imagen1></div></td>
          <td>
            <div class="li">
              <div class="asistencia">L</div>
              <div class="asistencia">M</div>
              <div class="asistencia">M</div>
              <div class="inasistencia">J</div>
              <div class="asistencia">V</div>
              <div class="asistencia">S</div>
              <div class="inasistencia">D</div>
            </div>
          </td>
        </tr>
      </table>
      <button>details</button>
    </div>
    <div>
      <table>
        <tr>
          <td><div class=imagen2></div></td>
          <td>
            <div class="li">
              <div class="asistencia">L</div>
              <div class="inasistencia">M</div>
              <div class="asistencia">M</div>
              <div class="inasistencia">J</div>
              <div class="asistencia">V</div>
              <div class="inasistencia">S</div>
              <div class="asistencia">D</div>
            </div>
          </td>
        </tr>
      </table>
      <button>details</button>
    </div>
  </div>
</div>
