<div [ngStyle]="{'background-color': '#EBEBD3', 'height': '110vh'}">
  <div class="course-lesson">
    <div class="course-title">
      <p><b>Lesson 1</b></p>
      <p><b>First impression of hydroponic systems</b></p>
      <section>
        <div class="example-button-row">
          <div class="example-flex-container">
            <div class="example-button-container">
              <button mat-fab extended>
                <mat-icon>arrow_back</mat-icon>
                Back
              </button>
            </div>
          </div>
          <div class="example-flex-container">
            <div class="example-button-container">
              <button mat-fab extended>
                <mat-icon>favorite</mat-icon>
                Favorite
              </button>
            </div>
          </div>
        </div>
      </section>
      <mat-card>
        <div class="video-container">
          <iframe width="300" height="150" src="https://www.youtube.com/embed/DuNjVVzDkW8?si=xRROhiUN7zQ6gHp3" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" ></iframe>
        </div>
        <div class="description">
          <p>I our first lesson we will learn some principal concepts of hydroponics, material that you can use staying at home. </p>
          <p> You will train with a really small and easy project planting lettuce in a plastic bowl.</p>
        </div>
      </mat-card>
    </div>
  </div>
</div>



