<mat-toolbar color="primary" class="mi-cabecera">
    <!-- Icono de notificación en la parte izquierda -->
    <button mat-icon-button>
      <mat-icon>notifications</mat-icon>
    </button>
  
    <span class="mat-spacer"></span> <!-- Deja espacio entre elementos -->
  
    <!-- Enlaces de navegación (centrados) -->
    <a class="header-menu" mat-button [routerLink]="'/home'">Home</a>
    <a class="header-menu" mat-button [routerLink]="'/courses'">Courses</a>
    <a class="header-menu" mat-button [routerLink]="'/analytics'">Analytics</a>
    <a class="header-menu" mat-button [routerLink]="'/notifications'">Notifications</a>
  
    <span class="mat-spacer"></span> <!-- Deja espacio entre elementos -->
  
    <!-- Selector de idioma y botón de perfil a la derecha -->
    <app-language-switcher></app-language-switcher>
  
    <button mat-icon-button>
      <mat-icon class="icon-log">account_circle</mat-icon>
    </button>
  </mat-toolbar>
<h1 class="title-new-course">CREATE NEW COURSE</h1>
  
<app-create-course></app-create-course>
<router-outlet></router-outlet>