.form {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  height: 100vh; /* Altura completa de la ventana */
  flex-direction: column;
}

.create-course-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 0 0 0;
  height: 50vh;
}

mat-card {
  width: 400px; /* Ancho de la tarjeta */
  padding: 20px; /* Espaciado interno */
  border: 1px solid #ccc; /* Borde opcional */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra opcional */
  display: flex;
}

.create-course-card {
  padding: 30px;
  width: 600px;
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.card-content {
  margin-bottom: 16px;
}

button {
  padding: 10px 20px;
  font-size: 1.1rem;
}

.mat-form-field {
  font-size: 1rem;
}


