.description-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh; /* Para centrar verticalmente */
    padding: 20px;
  }
  
  .description-form {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    max-width: 500px;
    width: 100%;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .hint-text {
    font-size: 0.8rem;
    color: #666;
    margin-top: -10px;
    margin-bottom: 10px;
  }
  
  input[type="text"], input[type="file"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .video-preview {
    margin-bottom: 20px;
  }
  
  .video-preview img {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .finish-button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    text-align: center;
  }
  
  .finish-button:hover {
    background-color: #333;
  }
  