/*
.mat-button-toggle-checked {
    background-color: #f0f0f0 !important; 
    border-color: black !important;
    color: black !important; 
}
.mat-button-toggle {
    background-color: transparent !important;
    border-color: black !important;
    color: black !important;
}
.mat-button-toggle:hover {
    background-color: rgba(0, 0, 0, 0.1) !important;
}
.mat-button-toggle-appearance-standard {
    border: 2px solid black !important;
}  
.mat-button-toggle-group {
    border-radius: 25px;
}
*/